.active { background-color: greenyellow; }

button {
    font-family: Arial;
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
    margin-left: 5px;
  }
  button:hover {
    background-color: #cfd8dc;
  }
 
 